.vscode
.mypy_cache
__pycache__/
build/
dist/
*.egg-info/
*.py[cod]
test/*.bin
test/*.pal
test/*.idx
test/*.dsk
test/*.map
demos/demo?/*.dsk
demos/demo?/sprite*.asm
demos/demo?/*.pal
demos/demo?/*.dsk
demos/demo?/*.map
/temp/
